Repository angelozdev/weather-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

build: update husky config
  .huskyrc.json
Due: none

style: update global styles
  .lintstagedrc.json
  .stylelintrc.json
  package-lock.json
  package.json
  src/index.tsx
  src/styles/globalStyle.sass
  src/styles/globalStyle.styl
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: perform grid-layout
  .eslintrc.json
  package-lock.json
  package.json
  src/App.tsx
  src/components/atoms/Hero/index.tsx
  src/components/atoms/Hero/style.sass
  src/components/atoms/Wrapper/index.tsx
  src/components/atoms/Wrapper/style.sass
  src/components/atoms/index.ts
  src/components/molecules/index.ts
  src/components/organisms/index.ts
  src/components/pages/Home.tsx
  src/components/pages/index.ts
  src/components/template/Main/index.tsx
  src/components/template/Main/style.sass
  src/components/template/index.ts
  src/styles/globalStyle.sass
Due: none

feat: finish hero component on desktop
  src/components/Icons/Map.tsx
  src/components/Icons/index.ts
  src/components/atoms/CurrentDetails/index.tsx
  src/components/atoms/CurrentDetails/style.sass
  src/components/atoms/Hero/index.tsx
  src/components/atoms/Hero/style.sass
  src/components/atoms/Wrapper/style.sass
  src/components/atoms/index.ts
  src/components/molecules/HeroWithDetails/index.tsx
  src/components/molecules/HeroWithDetails/style.sass
  src/components/molecules/index.ts
  src/components/pages/Home.tsx
  src/components/template/Main/style.sass
  src/styles/globalStyle.sass
Due: none

fix(cards): change class names
  src/components/atoms/CurrentDetails/style.sass
Due: none

feat: forecast and place to visit components
  .stylelintrc.json
  src/components/atoms/CurrentDetails/index.tsx
  src/components/atoms/ForecastItem/index.tsx
  src/components/atoms/ForecastItem/style.sass
  src/components/atoms/Hero/index.tsx
  src/components/atoms/Hero/style.sass
  src/components/atoms/index.ts
  src/components/molecules/Card/index.tsx
  src/components/molecules/Card/style.sass
  src/components/molecules/index.ts
  src/components/organisms/Forecast/index.tsx
  src/components/organisms/Forecast/style.sass
  src/components/organisms/PlaceToVisit/index.tsx
  src/components/organisms/PlaceToVisit/style.sass
  src/components/organisms/RandomCities/index.tsx
  src/components/organisms/RandomCities/style.sass
  src/components/organisms/index.ts
  src/components/pages/Home.tsx
  src/components/template/Main/style.sass
  src/styles/globalStyle.sass
Due: none

Initial commit
  LICENSE
  README.md
Due: prettier --write

feat(random-cities): header + styles
  src/components/Icons/Plus.tsx
  src/components/Icons/index.ts
  src/components/organisms/RandomCities/index.tsx
  src/components/organisms/RandomCities/style.sass
  src/styles/globalStyle.sass
Due: none

feat: code and styles of random cities component
  src/components/atoms/ForecastItem/style.sass
  src/components/organisms/RandomCities/index.tsx
  src/components/organisms/RandomCities/style.sass
  src/styles/globalStyle.sass
Due: none

feat: connect hero with API
  .env.example
  .eslintignore
  package-lock.json
  package.json
  src/components/atoms/CurrentDetails/index.tsx
  src/components/atoms/Hero/index.tsx
  src/components/molecules/HeroWithDetails/index.tsx
  src/config/index.ts
  src/hooks/useGetCurrentWeather.ts
  src/hooks/useGetDaysForecast.ts
  webpack.config.js
Due: eslint --cache --fix, prettier --write

feat: create useLocation and useGetDaysForecast hooks
  src/components/molecules/HeroWithDetails/index.tsx
  src/hooks/useGetCurrentWeather.ts
  src/hooks/useGetDaysForecast.ts
  src/hooks/useLocation.ts
Due: none

feat: perform forecast component with API
  src/components/atoms/ForecastItem/index.tsx
  src/components/atoms/ForecastItem/style.sass
  src/components/organisms/Forecast/index.tsx
  src/hooks/useGetDaysForecast.ts
Due: none

feat(hero): dinamic image
  src/components/atoms/CurrentDetails/style.sass
  src/components/atoms/Hero/index.tsx
  src/components/atoms/Hero/style.sass
  src/components/molecules/HeroWithDetails/index.tsx
  src/hooks/useLocation.ts
  webpack.config.js
Due: eslint --cache --fix, prettier --write

feat: create location component with their styles
  src/components/atoms/CurrentDetails/style.sass
  src/components/atoms/ForecastItem/style.sass
  src/components/atoms/Hero/index.tsx
  src/components/molecules/LocationItem/index.tsx
  src/components/molecules/LocationItem/location-item.sass
  src/components/molecules/index.ts
  src/components/organisms/Locations/index.tsx
  src/components/organisms/Locations/locations.sass
  src/components/organisms/PlaceToVisit/style.sass
  src/components/organisms/RandomCities/style.sass
  src/components/organisms/index.ts
  src/components/pages/Home.tsx
Due: none

feat: finish add location component with styles
  src/components/atoms/ForecastItem/style.sass
  src/components/atoms/Hero/index.tsx
  src/components/molecules/LocationItem/index.tsx
  src/components/molecules/LocationItem/location-item.sass
  src/components/organisms/Locations/index.tsx
  src/components/organisms/Locations/locations.sass
  src/styles/globalStyle.sass
Due: none

feat: responsive-design
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  src/components/atoms/CurrentDetails/style.sass
  src/components/atoms/Hero/index.tsx
  src/components/atoms/Hero/style.sass
  src/components/atoms/Wrapper/style.sass
  src/components/molecules/LocationItem/location-item.sass
  src/components/organisms/Locations/locations.sass
  src/components/pages/Home.tsx
  src/components/template/Main/index.tsx
  src/components/template/Main/style.sass
  src/constants/breakpoints.ts
  src/styles/breakpoints.sass
  src/styles/globalStyle.sass
  webpack.config.js
Due: eslint --cache --fix, prettier --write

fix: import breackpoints in wrapper styles
  .gitignore
  src/components/atoms/Wrapper/style.sass
Due: none

docs: update readme.md
  README.md
Due: prettier --write

fix: remove logs
  src/components/molecules/LocationItem/index.tsx
Due: none

docs: add screenshot
  screenshot.png
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.styl
  prettier --write: any of: *.{js,css,md}
